.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &.small {
    font-size: 1rem;
  }
  
  &.medium {
    font-size: 2rem;
  }
  
  &.large {
    font-size: 3rem;
  }
}

.text {
  margin-left: 0.5em;
  font-size: var(--font-size-sm);
  color: inherit;
  opacity: 0.8;
} 