
.welcomeSection {
  margin-bottom: var(--spacing-xl);

}

.logoutButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  background: #fd8d8d;
  color: white;
  border: none;
  cursor: pointer;
  transition: filter var(--transition-fast) ease;

  &:hover {
    filter: brightness(90%);
  }
} 