.previewContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: var(--theme-background-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.loading {
  text-align: center;
  padding: 1rem;
  color: var(--text-secondary);
}

.error {
  text-align: center;
  padding: 1rem;
  color: var(--error);
}

.similarContainer{
    padding: var(--spacing-md);
}