.previewContainer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--theme-background-primary);
  overflow: hidden;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  gap: 2rem;
}

.loading {
  text-align: center;
  padding: 1rem;
  color: var(--text-secondary);
}

.error {
  text-align: center;
  padding: 1rem;
  color: var(--error);
}

.similarContainer{
    padding: var(--spacing-md);
}